.container {
            width: 50%; 
            max-width: 350px; 
            padding: 50px; 
            border: 1px solid #5d5c5c;
            border-radius: 10px;
            font-size:15px;
            font-family:Arial, Helvetica, sans-serif;
            height:45%;
          }
          .button{
                background-color: #12dd18; /* Green */
                padding: 15px 15px;
                text-align: center;
                font-size: 15px;
                border-radius: 10px;
                align-self: center;
                } 
        label{
                display: inline-block;
                font-size: 120%;
                font-family:Arial, Helvetica, sans-serif;
                padding-inline: 10px;
                margin-right: 5px;
            } 
        input{
                display: inline-block;
                background-color:gainsboro;
                font-size: large;
                block-size: 30px;
                font-family:Arial, Helvetica, sans-serif;
                border: 1px solid #5d5c5c;
                border-radius: 3px;
            } 
        .entries
        {
            height:50%;
            border: 1px solid gray;
            padding:5px
        }
        table{
            font-family: Arial, Helvetica, sans-serif;
            width:90%;
            border:1px solid black;
            border-collapse: collapse;
        }
        th{
            border:1px solid black;
            border-collapse:collapse;
            background-color: lightgrey;
            width:90px;
            text-align: left;
        }
        td{ border:1px solid black;
            border-collapse:collapse;
        }
        h2{
            background-color: lightgray;
            width: 90%;
            font-family: Arial, Helvetica, sans-serif;
        }
